<h2>{{ subtitle }}</h2>
<div class="computers-list-container">
    <div *ngFor="let computer of computerDtos">
        <div class="computer-mini-tile">
            <div class="computer-name">{{ computer.brand | uppercase }} {{ computer.name }}</div>
            <div class="computer-price">€ {{ computer.price }}</div>
            <div class="computer-btn">
                <button class="computer-del-btn" (click)="onDeleteComputer(computer.id)">Del.</button>
            </div>
        </div>
    </div>
</div>