.computers-list-container {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - calc(60px / 3)));
    gap: 20px;

    .computer-mini-tile {
        border: transparent;
        box-shadow: 0 0 6px gray;
        border-radius: 20px;
        display: grid;
        grid-template-areas: "name btn" "price btn";
        padding: 10px 15px;

        .computer-name {
            grid-area: name;
        }
        .computer-price {
            grid-area: price;
        }
        .computer-btn {
            display: flex;
            align-items: center;
            justify-content: right;
            grid-area: btn;

            button.computer-del-btn {
                font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
                padding: 5px 12px;
                border-radius: 10px;
                font-size: 12px;
                font-weight: bold;
                border: 1px solid gray;
                color: #444;

                &:disabled {
                    border: 1px solid #888;
                    color: #888;
                }

                &:not([disabled]):hover {
                    color: orange;
                    border-color: orange;
                    background-color: antiquewhite;
                    cursor: pointer;
                }
            }
        }
    }
}
